form {
  margin: 10px auto 0px auto;
  padding: 10px;
  width: 590px;
  background-color: #e9ebee;
  border-radius: 4px;
}

#comment-box__input {
  border-radius: 4px;
}

#comment-box__button {
  border-radius: 4px;
  font-size: 12px;
}
