.card-container {
  background-color: white;
  padding: 10px;
}

i {
  margin-right: 6px;
  color: black;
  font-size: 14px;
}

.icon {
  cursor: pointer;
  margin-right: 16px;
  padding: 4px;
  font-size: 13px;
}

.icon:hover {
  background-color: rgb(247, 242, 242);
}

.card-container__view-comments {
  font-size: 13px;
  cursor: pointer;
  float: right;
}
